<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Servlet13</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RealPathServlet</display-name>
    <servlet-name>RealPathServlet</servlet-name>
    <servlet-class>day12.RealPathServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RealPathServlet</servlet-name>
    <url-pattern>/real-path</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetNameServlet</display-name>
    <servlet-name>SetNameServlet</servlet-name>
    <servlet-class>day12.SetNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetNameServlet</servlet-name>
    <url-pattern>/set</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DispatcherServlet</display-name>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>mvc.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>mvc.ContextConfigListener</listener-class>
  </listener>
  <filter>
    <display-name>AccessFilter</display-name>
    <filter-name>AccessFilter</filter-name>
    <filter-class>emp.AccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AccessFilter</filter-name>
    <url-pattern>/emp/*</url-pattern>
  </filter-mapping>
</web-app>